{% extends 'base.html.twig' %}

{% block title %}Создание заказа{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('style/create.css') }}" rel="stylesheet"/>
    <link href="{{ asset('style/form.css') }}" rel="stylesheet"/>
    <link href="{{ asset('style/tab.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="wrap">
        <div class="tab">
            {% block links %}
                {% include 'menu.html.twig' with {'selected':'order','isAdmin':true} %}
            {% endblock %}
        </div>
        <div class="container">
            <h3 class="container__title">Просмотр заказа:</h3>
            {#            {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-auth'}}) }}#}
            {{ form_start(form, {'attr': {'class': 'form-auth'}}) }}
            {{ form_errors(form) }}
            {{ form_label(form.customer, null, {'label_attr': {'class': 'form-auth__label'}}) }}
            {{ form_errors(form.customer) }}
            {{ form_widget(form.customer, {'attr': {'class': 'form-auth__input'}}) }}
            {{ form_label(form.date, null, {'label_attr': {'class': ''}}) }}
            {{ form_widget(form.date, {'attr': {'class': 'form-auth__input'}}) }}
            {{ form_errors(form.date) }}
            {{ form_label(form.additionally, null, {'label_attr': {'class': 'form-auth__label'}}) }}
            {{ form_widget(form.additionally, {'attr': {'class': 'form-auth__input'}}) }}
            {{ form_errors(form.additionally) }}
            <div class="form-auth__action-section">
                {{ form_widget(form.request, {'label': 'Сохранить', 'attr': {'class': 'action-section__button-auth'} }) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/jquery.maskedinput.min.js') }}"></script>
    <script src="{{ asset('js/error.js') }}"></script>
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}
