{% extends 'base.html.twig' %}

{% block title %}Лаборатории{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('style/laboratory.css') }}" rel="stylesheet"/>
    <link href="{{ asset('style/table.css') }}" rel="stylesheet"/>
    <link href="{{ asset('style/tab.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="wrap">
        <div class="tab">
            {% block links %}
                {% include 'menu.html.twig' with {'selected':'order','isShow':is_show} %}
            {% endblock %}
        </div>
        <div class="container">
            <h1>Лаборатории</h1>
            <a href="{{ path('laboratory-create') }}" class="button">Добавить</a>

            <table class="simple-table">
                <tr class="align-left">
                    <th>Номер лаборатории</th>
                    <th>PM</th>
                    <th>Зарплата PM</th>
                    <th>PI</th>
                    <th>Зарплата PI</th>
                    <th>Местоположение</th>
                    <th>Город</th>
                    <th>Стоимость обработки случая</th>
                    <th></th>
                </tr>
                {% for laboratory in laboratories %}
                    <tr>
                        <td>{{ laboratory.id }}</td>
                        <td>{{ laboratory.pm }}</td>
                        <td>{{ laboratory.salaryPm }}</td>
                        <td>{{ laboratory.pi }}</td>
                        <td>{{ laboratory.salaryPi }}</td>
                        <td>{{ laboratory.location }}</td>
                        <td>{{ laboratory.city }}</td>
                        <td>{{ laboratory.cost }}</td>
                        <td><a href="{{ path('laboratory-view', { 'id' : laboratory.id } ) }}" class="button">Просмотр</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
